* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.bg {
  background: url("Images/bg.jpg");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  overflow: hidden;
}
.eagle {
  position: relative;
  width: 20%;
  left: 100%;
  animation: fly 9s infinite;
}
@keyframes fly {
  0% {
    left: -20%;
    top: 5px;
  }
  25% {
    top: 150px;
  }
  50% {
    top: 30px;
  }
  75% {
    top: 25px;
  }
  100% {
    right: -100px;
    top: 105px;
  }
}
